body.chakra-ui-dark{
  background-color: #000000;
}

form {
    width: 100%;
}

  .chakra-heading.css-1w4mip4{
    font-size: xx-large;
  }

  :root[data-theme=dark], [data-theme][data-theme=dark] {
    background: none !important;
  }

  .css-1vms755{
    padding-right: 8px !important;
  }



